## Sytem files
.DS_Store

## Private folder: do not track or sync
**/_private

## vim
.*.swp
# subfolders within vim directory - Plugins are git repos managed by a vim plugin manager
/vim/vimfiles/Plugins/**
/vim/backup/*
